---
layout: default
---

<!-- about.html -->
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == "blank" -%}{{ site.first_name }} {{ site.middle_name }}
      <span class="font-weight-bold">{{ site.last_name }}</span>{%- else -%}{{ site.title }}{%- endif %}
    </h1>
    <p class="desc"><b>{{ page.subtitle }}</b></p>
  </header>

  <article>
    This workshop is inspired by the belief that data compression, foundations of which are rooted in information theory, 
    is on the brink of a <i>significant transformation</i>. The emergence of deep generative models, like variational autoencoders, 
    generative adversarial networks (GANs), normalizing flows, and diffusion models, has opened up a fresh path for 
    data compression, one that fully taps into the power of machine learning. These methods demonstrate impressive capabilities, 
    particularly with image and video data, yet challenges remain for practical applications.

    <br>  
    <br>
    This workshop will act as a dynamic platform for fostering interdisciplinary collaborations, featuring distinguished experts 
    in machine learning and computer science, who will contribute valuable practical insights to the real-world applications of 
    data compression. For ISIT regulars, it will acquaint them with recent advances in data compression, enabling them to explore 
    the interplay between classical and contemporary methods. For those new to the field and experts alike, it will provide a 
    chance to learn from experienced researchers from the industry and academia, and connect with peers who share similar research interests.  
    The workshop aims to leave attendees with a more comprehensive intellectual toolkit in the era of machine learning.


    <br>
    <br>
    The workshop will be held (in-person) on <b>Sunday 7th July 2024</b> - we look forward to seeing you in Athens!
    <br>
    <br>
    <b><u>To stay tuned for more information on invited keynote speakers and submission guidelines and more, follow us at Twitter <a href="https://twitter.com/learn_to_cmpres" target="_blank">@learn_to_cmpress</a></u></b>.




    <br>

    <div class="speakers">
      <h2>Organizers</h2>

      <div class="container">
        <div class="row row-cols-2">

          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">



                  <img src="/assets/resized/pic_elza.jpeg">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Prof. Elza Erkip
                    </h4>

                    <h6 class="card-text">New York University
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://wp.nyu.edu/elza_erkip/" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">



                  <img src="/assets/resized/pic_ezgi.JPG">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Ezgi Ozyilkan  
                    </h4>

                    <h6 class="card-text">New York University
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://ezgimez.github.io/" title="Website" target="_blank" rel="noopener noreferrer"><i
                              class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



    
        <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">



                  <img src="/assets/resized/pic_aaron.jpg">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Prof. Aaron B. Wagner 
                    </h4>

                    <h6 class="card-text">Cornell University
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://www.ece.cornell.edu/faculty-directory/aaron-b-wagner" title="Website" target="_blank" rel="noopener noreferrer"><i
                              class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

    <br>

    <br>
    <br>
    <br>
    <h3 class="post-title"><span class="font-weight-bold">Questions</span></h3>
    Contact us at
    <a href="mailto:learn.to.compress.workshop@gmail.com" target="_blank">learn.to.compress.workshop@gmail.com</a>.

    <br> 

    Follow us at Twitter <a href="https://twitter.com/learn_to_cmpres" target="_blank">@learn_to_cmpress</a>.
    
    <br>
    <br>
    <br>
    Special thanks to <a href="https://www.uguryav.uz/" target="_blank"> Ugur Y. Yavuz</a> for technical help with the website.


  </article>


