---
layout: default
---

<!-- about.html -->
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == "blank" -%}{{ site.first_name }} {{ site.middle_name }}
      <span class="font-weight-bold">Learn to Compress &amp; Compress to Learn</span>{%- else -%}{{ site.title }}{%- endif %}
    </h1>
    <p class="desc"><b>Workshop at the <a href="https://2026.ieee-isit.org/">International Symposium on Information Theory (ISIT) 2026</a></b></p>
  </header>

  <article>
  Recent advances in machine learning and artificial intelligence have brought compression back to the forefront
of information science. Once regarded primarily as a tool for efficient data storage and transmission,
compression has now emerged as a unifying principle linking representation learning, generalization, and
efficient communication. This workshop explores how classical information-theoretic concepts—such as the
rate–distortion tradeoff, minimum description length, and universal compression—are being reimagined and
extended in modern contexts like neural source coding, model compression, semantic communication, and
generative AI. It aims to foster dialogue between information theorists and machine learning researchers to
examine how compression not only enables efficient inference and transmission but also offers a powerful
lens for explaining and designing intelligent systems. The program will feature invited talks, contributed
presentations, and panel discussions that bridge theory and practice, laying the groundwork for the next
generation of compression-inspired learning and communication paradigms.
<br>
<br>
The workshop will be held on <b>July 3, 2026</b> at the Guangzhou Yuexiu International Congress Center.
<br>
<br>
<strong>Submissions are now open on <a href="https://edas.info/N34907">EDAS</a>!</strong>
<br>
<br>
<!--
<br>
<br>
<b>&#127942; The winner of the best paper award is: </b> <i>Online Conformal Compression for Zero-Delay Communication with Distortion Guarantees</i> by Unnikrishnan Kunnath Ganesan, Giuseppe Durisi, Matteo Zecchin, Petar Popovski and Osvaldo Simeone. <b>Congratulations!</b>
<br>
      <div class="container">
        <div class="row row-cols-1">
    <img src="/assets/img/workshop_selfie.jpg" style="padding-top:20px"/>
    </div></div>
<br>
    <br>

    <h2>Location</h2>
The workshop will be held on <b>Thursday 26 June 2025</b> on the <b>4th floor of the the Rackham Graduate School</b>, 915 E Washington St, Ann Arbor, MI 48109, USA. <a href="https://maps.app.goo.gl/QdavWxo9Qy9zWvvq6">See the venue on Google Maps</a>, and the floorplan below.
      <div class="container">
        <div class="row row-cols-1">
<img src="/assets/img/floorplan.png">
</div></div>

    <h2><a href="https://learn-to-compress-workshop-isit.github.io/2025/schedule#acceptedPosters">Accepted Posters</a></h2>

    <b>Spotlight papers</b> (in alphabetical order):
    <ul>
      <li>
        <p><em>Discretized Approximate Ancestral Sampling</em> <br>
 Alfredo De la Fuente,&nbsp;Saurabh Singh and&nbsp;Jona Ballé  </p>
      </li>
      <li>
       <p><em>DeCompress: Denoising via Neural Compression</em> <br>
 Ali Zafari,&nbsp;Xi Chen&nbsp;and&nbsp;Shirin Jalali  </p>
      </li>

      <li>
        <p><em>Online Conformal Compression for Zero-Delay Communication with Distortion Guarantees</em> <br>
Unnikrishnan Kunnath Ganesan, Giuseppe Durisi, Matteo Zecchin,&nbsp;Petar Popovski and Osvaldo Simeone  </p>
      </li>
    </ul>
-->
<h2>Important Dates</h2>
<ul>
  <li>Submission of Workshop Papers: <span style="color:red;font-weight:bold;">April 7</span>, <strong>2026</strong></li>
  <li>Notification of Acceptance: <strong>April 21, 2026</strong></li>
  <li>Final Manuscripts: <strong>April 28, 2026</strong></li>
  <li>Workshop Date: <strong>July 3, 2026</strong></li>
</ul>

    <div class="speakers">

      <h2>Keynote Speakers</h2>

      <div class="container">
        <div class="row row-cols-2">
          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">
                  <img src="/assets/resized/2026/bo_bai.jpeg">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Bo Bai
                    </h4>

                    <h6 class="card-text">Huawei
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://scholar.google.ca/citations?user=zgk5dMoAAAAJ&hl=en" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">

                  <img src="/assets/resized/2026/zoe_liu.jpeg">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Zoe (Yuxin) Liu
                    </h4>

                    <h6 class="card-text">Visionular
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://www.linkedin.com/in/zoeliu" title="Website" target="_blank" rel="noopener noreferrer"><i
                              class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">



                  <img src="/assets/resized/2026/aaron_wagner.jpeg">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Aaron Wagner 
                    </h4>

                    <h6 class="card-text">Cornell University
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://www.duffield.cornell.edu/people/aaron-b-wagner/" title="Website" target="_blank" rel="noopener noreferrer"><i
                              class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

        <br>

      <h2>Invited Speakers</h2>

      <div class="container">
        <div class="row row-cols-2">




          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">
                  <img src="/assets/resized/2026/yanjun.jpeg">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Yanjun Han
                    </h4>

                    <h6 class="card-text">New York University
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://yanjunhan2021.github.io/" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">



                  <img src="/assets/resized/2026/xueyan_niu.jpeg">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Xueyan Niu
                    </h4>

                    <h6 class="card-text">Huawei
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://niuxueyan.gitlab.io/pages/" title="Website" target="_blank" rel="noopener noreferrer"><i
                              class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">



                  <img src="/assets/resized/2026/wenqi_shao.jpeg">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Wenqi Shao 
                    </h4>

                    <h6 class="card-text">Shanghai AI Lab
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://wqshao126.github.io/" title="Website" target="_blank" rel="noopener noreferrer"><i
                              class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



        </div>
        </div>

        <br>

    <div class="speakers">
      <h2>Organizers</h2>

      <div class="container">
        <div class="row row-cols-2">


          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">

                  <img src="/assets/resized/2026/jun_chen.jpeg">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Jun Chen  
                    </h4>

                    <h6 class="card-text">McMaster University
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://www.eng.mcmaster.ca/ece/faculty/dr-jun-chen/" title="Website" target="_blank" rel="noopener noreferrer"><i
                              class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">



                  <img src="/assets/resized/2026/pic_ezgi.JPG">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Ezgi Ozyilkan  
                    </h4>

                    <h6 class="card-text">New York University
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://ezgimez.github.io/" title="Website" target="_blank" rel="noopener noreferrer"><i
                              class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



          


    
        <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">



                  <img src="/assets/resized/2026/yong_fang.jpeg">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Yong Fang 
                    </h4>

                    <h6 class="card-text">Chang'an University
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://js.chd.edu.cn/xxgcxy/fy102_en/list.htm" title="Website" target="_blank" rel="noopener noreferrer"><i
                              class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">



                  <img src="/assets/resized/2026/pic_elza.jpeg">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Prof. Elza Erkip
                    </h4>

                    <h6 class="card-text">New York University
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://wp.nyu.edu/elza_erkip/" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



        </div>

    <br>
    <div class="speakers">

      <h2>Webmaster</h2>

      <div class="container">
        <div class="row row-cols-2">
          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">
                  <img src="/assets/resized/2025/pic_greg.jpg">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Gergely Flamich
                    </h4>

                    <h6 class="card-text">Imperial College London
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://gergely-flamich.github.io/" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h3 class="post-title"><span class="font-weight-bold">Questions</span></h3>
    Contact us at
    <a href=" " target="_blank">learn.to.compress.workshop@gmail.com</a>.
  </article>


