---
layout: default
---

<!-- about.html -->
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == "blank" -%}{{ site.first_name }} {{ site.middle_name }}
      <span class="font-weight-bold">{{ site.last_name }}</span>{%- else -%}{{ site.title }}{%- endif %}
    </h1>
    <p class="desc"><b>{{ page.subtitle }}</b></p>
  </header>

  <article>
    This workshop is inspired by the belief that data compression, foundations of which are rooted in information theory, 
    is on the brink of a <i>significant transformation</i>. The emergence of deep generative models, like variational autoencoders, 
    generative adversarial networks (GANs), normalizing flows, and diffusion models, has opened up a fresh path for 
    data compression, one that fully taps into the power of machine learning. These methods demonstrate impressive capabilities, 
    particularly with image and video data, yet challenges remain for practical applications.

    <br>  
    <br>
    This workshop will act as a dynamic platform for fostering interdisciplinary collaborations, featuring distinguished experts 
    in machine learning and computer science, who will contribute valuable practical insights to the real-world applications of 
    data compression. For ISIT regulars, it will acquaint them with recent advances in data compression, enabling them to explore 
    the interplay between classical and contemporary methods. For those new to the field and experts alike, it will provide a 
    chance to learn from experienced researchers from the industry and academia, and connect with peers who share similar research interests.  
    The workshop aims to leave attendees with a more comprehensive intellectual toolkit in the era of machine learning.

    <br>  
    <br>

    <font size="+3">Accepted papers: <a href="https://openreview.net/group?id=IEEE.org/ISIT/2024/Workshop/LCW#tab-your-consoles">OpenReview</a> </font>

    <br>
    <br>

    <b>Spotlight papers (in alphabetical order):</b>
    <br>
    

    <ul>
    <li> <a href="https://openreview.net/forum?id=xDa9Dxoww0"><i>Estimation of Rate-Distortion Function for Computing with Decoder Side Information.</i></a> 
    <br> Heasung Kim, Hyeji Kim, Gustavo De Veciana. </li>

    <li> <a href="https://openreview.net/forum?id=NP2eeHpVJO"><i>Rate-Distortion-Perception Tradeoff for Vector Gaussian Sources.</i></a> 
    <br> Jingjing Qian, Sadaf Salehkalaibar, Jun Chen, Ashish Khisti, Wei Yu, Wuxian Shi, Yiqun Ge, Wen Tong. </li>

    <li> <a href="https://openreview.net/forum?id=Hq07uannyG"><i>Some Notes on the Sample Complexity of Approximate Channel Simulation.</i></a> 
    <br> Gergely Flamich, Lennie Wells. </li>

    <li> <a href="https://openreview.net/forum?id=keX3SC5cOt"><i>Staggered Quantizers for Perfect Perceptual Quality: A Connection between Quantizers with Common Randomness and Without.</i></a> 
    <br> Ruida Zhou, Chao Tian. </li>

    

    </ul>
    

    <!--
    <br>
    <br>
    <b>If you are interested in submitting a paper, please refer to the <a href="https://learn-to-compress-workshop-isit.github.io/submissions/" target="_blank">Call for Papers</a></b>.

    <br>
    <br>
    If you are interested in reviewing, please drop us a quick email at <a href="mailto:learn.to.compress.workshop@gmail.com" target="_blank">learn.to.compress.workshop@gmail.com</a>.

    <br>
    <br>
    The workshop will be held (in-person) on <b>Sunday 7th July 2024</b> - we look forward to seeing you in Athens!

    <br>
    <br>
    <b><u>Update [1]:</u></b> We welcome all relevant recent submissions that have been presented, published or are currently undergoing review elsewhere, <em>if the authors decide not to publish their full-paper on IEEE Xplore</em>. For more details, please see the <a href="https://learn-to-compress-workshop-isit.github.io/submissions/" target="_blank">Call for Papers</a>.

    <br>
    <br>
    <b><u> Update [2]: </u> </b>The submission deadline is now extended to <b>March 17, 2024 (11:59 PM, anywhere in the world)</b>!

    <br>

    -->

    <b><u> Update [April 2024]: Early registration deadline for <a href="https://2024.ieee-isit.org/home"> ISIT'24</a> is May 13. Registration details can be found <a href="https://2024.ieee-isit.org/registration-0"> here</a>.</b>

    <br>
    <br>

    

    <b><u> Update [May 2024]: The updated schedule of the workshop (including the order of talks) can be found <a href="https://learn-to-compress-workshop-isit.github.io/schedule/"> here</a>.</b>

    <br>
    <br>
    <br>
    
    

    <b><u>To stay tuned for more information, follow us on Twitter <a href="https://twitter.com/learn_to_cmpres" target="_blank">@learn_to_cmpress</a></u></b>.


    <div class="speakers">
      <h2>Keynote Speakers</h2>

      <div class="container">
        <div class="row row-cols-2">

          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">



                  <img src="/assets/resized/pic_Jay.jpeg">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Dr. Johannes Ballé
                    </h4>

                    <h6 class="card-text">Google Research
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://balle.io/" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">



                  <img src="/assets/resized/miguel_pic.jpg">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Prof. José Miguel Hernández-Lobato 
                    </h4>

                    <h6 class="card-text">University of Cambridge
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://jmhl.org/" title="Website" target="_blank" rel="noopener noreferrer"><i
                              class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">



                  <img src="/assets/resized/pic_shirin.jpeg">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Prof. Shirin Jalali
                    </h4>

                    <h6 class="card-text">Rutgers University
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://sites.google.com/site/shirinjalali/home" title="Website" target="_blank" rel="noopener noreferrer"><i
                              class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>     
          
          

          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">



                  <img src="/assets/resized/pic_lucas.jpg">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Dr. Lucas Theis
                    </h4>

                    <h6 class="card-text">Google DeepMind
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://theis.io/" title="Website" target="_blank" rel="noopener noreferrer"><i
                              class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <br>

    <div class="speakers">
      <h2>Organizers</h2>

      <div class="container">
        <div class="row row-cols-2">

          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">



                  <img src="/assets/resized/pic_elza.jpeg">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Prof. Elza Erkip
                    </h4>

                    <h6 class="card-text">New York University
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://wp.nyu.edu/elza_erkip/" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">



                  <img src="/assets/resized/pic_ezgi.JPG">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Ezgi Ozyilkan  
                    </h4>

                    <h6 class="card-text">New York University
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://ezgimez.github.io/" title="Website" target="_blank" rel="noopener noreferrer"><i
                              class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



    
        <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">



                  <img src="/assets/resized/pic_aaron.jpg">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Prof. Aaron B. Wagner 
                    </h4>

                    <h6 class="card-text">Cornell University
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://www.ece.cornell.edu/faculty-directory/aaron-b-wagner" title="Website" target="_blank" rel="noopener noreferrer"><i
                              class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

    <br>

    <br>
    <br>
    <br>
    <h3 class="post-title"><span class="font-weight-bold">Questions</span></h3>
    Contact us at
    <a href=" " target="_blank">learn.to.compress.workshop@gmail.com</a>.

    <br> 

    Follow us on Twitter <a href="https://twitter.com/learn_to_cmpres" target="_blank">@learn_to_cmpress</a>.
    
    <br>
    <br>
    <br>
    Special thanks to <a href="https://www.uguryav.uz/" target="_blank"> Ugur Y. Yavuz</a> for technical help with the website.


  </article>


